@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Playwrite+IN:wght@100..400&family=Smooch+Sans:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* custon styles */
.piazolla {
  font-family: "Piazolla", sans-serif;
}

.ceviche {
  font-family: "Ceviche One", sans-serif;
}

.dots {
  font-family: "Raleway Dots", sans-serif;
}

.smooch-sans {
  font-family: "Smooch Sans", serif;
}

.playwrite {
  font-family: "Playwrite IN", serif;
}

.bona-nova {
  font-family: "Bona Nova SC", serif;
}

.big-bold-underline {
  font-size: 35px;
  font-weight: bold;
  text-decoration: underline;
  text-transform: capitalize;
}

.small-thin-overline {
  font-size: 25px;
  font-weight: 400;
  text-decoration: overline;
  text-transform: lowercase;
}

.bulky-lines {
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline overline;
  text-transform: uppercase;
}

.medium-normal-bland {
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.thick-strikethrough {
  text-decoration: line-through;
  text-decoration-thickness: 10px;
  text-decoration-color: rgb(207, 18, 207, 0.5);
}

.massive-squiggly-underline-overline {
  font-size: 28px;
  font-weight: 700;
  font-family: "Playwrite IN", serif;
  text-transform: uppercase;
  text-decoration: underline overline;
  text-decoration-thickness: 5px;
  text-decoration-color: red;
  text-decoration-style: double;
}

.dotted-lines-up-and-down {
  text-decoration-line: overline underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 10px;
}

.wavy-underline {
  text-decoration-style: wavy;
  text-decoration: underline;
  text-decoration-thickness: 12px;
}

.didDLetter,
.didDTwoLetter {
  font-size: 26px;
  text-decoration-color: rgb(220, 20, 203);
}

.didILetter,
.theHLetter {
  font-size: 21px;
}

.theTLetter,
.theELetter {
  font-size: 30px;
}

.frontendOLetter,
.developerELetter,
.takeELetter,
.upULetter,
.gardeningALetter,
.gardeningDLetter {
  font-size: 26px;
  font-weight: 500;
  color: goldenrod;
}

.theyHLetter,
.theyELetter,
.wantedALetter,
.wantedNLetter,
.toTLetter {
  font-size: 30px;
  font-weight: bold;
  color: aquamarine;
}

.improveOLetter .improveELetter,
.theirRLetter,
.rootRLetter,
.rootOTwoLetter,
.skillsLTwoLetter,
.skillsLLetter {
  font-size: 33px;
  font-weight: 400;
  color: rgba(66, 250, 96, 0.856);
}

/* DID word */

.didDLetter {
  color: rgba(100, 250, 96);
}

.didILetter {
  color: rgb(62, 163, 177);
}

.didDTwoLetter {
  color: rgb(39, 233, 223);
}

/* THE word */

.theTLetter {
  color: rgb(240, 39, 39);
}

.theHLetter {
  color: rgb(204, 230, 61);
}

.theELetter {
  color: rgb(204, 133, 25);
}

/* FRONT-END word */

.frontendFLetter {
  color: rgb(189, 25, 204);
}

.frontendRLetter {
  font-size: 27px;
  color: #00f;
  text-shadow: rgba(66, 250, 96) -1px -1px 3px;
}

.frontendNLetter {
  color: rgb(39, 233, 223);
}

.frontendTLetter {
  font-size: 28px;
  color: brown;
}

.frontendELetter {
  color: peru;
}

.frontendNTwoLetter {
  color: powderblue;
}

.frontendDLetter {
  color: plum;
}

/* DEVELOPER word */

.developerDLetter {
  color: blueviolet;
}
.developerELetter {
  color: burlywood;
}
.developerVLetter {
  color: moccasin;
}
.developerETwoLetter {
  color: chartreuse;
}
.developerLLetter {
  color: cyan;
}
.developerOLetter {
  color: crimson;
}
.developerPLetter {
  color: navajowhite;
}
.developerEThreeLetter {
  color: tomato;
}
.developerRLetter {
  color: indigo;
}

/* TAKE word */

.takeTLetter {
  color: ivory;
}
.takeALetter {
  color: gold;
}
.takeKLetter {
  color: fuchsia;
}
.takeELetter {
  color: blanchedalmond;
}

/* UP word */
.upPLetter {
  color: palegreen;
}

/* GARDENING word */

.gardeningGLetter {
  color: aquamarine;
}
.gardeningALetter {
  color: coral;
}
.gardeningRLetter {
  color: darkred;
}
.gardeningDLetter {
  color: darkmagenta;
}
.gardeningELetter {
  color: darkolivegreen;
}
.gardeningNLetter {
  color: mediumblue;
}
.gardeningILetter {
  color: olive;
}
.gardeningNTwoLetter {
  color: hotpink;
}
.gardeningGTwoLetter {
  color: honeydew;
}

/* BECAUSE word */

.because span:nth-child(even) {
  color: khaki;
}

.because span:nth-child(odd) {
  color: rgb(32, 172, 67);
}

/* THEY word */

.they span:nth-child(1) {
  color: rgb(124, 8, 134);
  text-shadow: rgb(0, 252, 239) -2px -2px 1px;
}

.they span:nth-last-child(1) {
  color: rgb(230, 137, 61);
}

/* WANTED word */

.wantedWLetter {
}
.wantedALetter {
}
.wantedNLetter {
}
.wantedTLetter {
}
.wantedELetter {
}
.wantedDLetter {
}

/* TO word */

.toTLetter {
}
.toOLetter {
}

/* IMPROVE word */

.improveILetter {
}
.improveMLetter {
}
.improvePLetter {
}
.improveRLetter {
}
.improveOLetter {
}
.improveVLetter {
}
.improveELetter {
}

/* THEIR word */

.theirTLetter {
}
.theirHLetter {
}
.theirELetter {
}
.theirILetter {
}
.theirRLetter {
}

/* ROOT word */

.rootRLetter {
}
.rootOLetter {
}
.rootOTwoLetter {
}
.rootTLetter {
}

/* SKILLS word */

.skillsSLetter {
}
.skillsKLetter {
}
.skillsILetter {
}
.skillsLLetter {
}
.skillsLTwoLetter {
}
.skillsSTwoLetter {
}

/* SYMBOLS */

.hyphen {
}
.exclamation-mark {
}
.question-mark {
}
